.main-button {
	background-color: $color1;
	color: $color2;
	font-size: 1.8rem;
	font-weight: 500;
	padding: 0.8em 2em;
	border-radius: 1.9em;
	transition: 0.1s;

	&:hover {
		cursor: pointer;
		background-color: $color3;
		transition: 0.1s;
	}
	&:active {
		background-color: $color1;
	}

	&__icon {
		color: $color2;
		font-size: 0.8em;
		padding-left: 0.5em;
	}

	&--baner {
		@media (min-width: $point1) {
			font-size: 1.8vw;
		}
	}
}

.scroll-button {
	display: none;
	@media (min-width: $point1) {
		display: inline;
		position: relative;
		background-color: transparent;
		font-size: 1.4rem;
		transform: rotate(-90deg);

		&::before {
			@include position-style(0.1em, -1.4em, 1.5rem, 1.5rem);
			z-index: -1;
			background: url("../../assets/icons/scroll.svg") center no-repeat;
			background-size: contain;
			transform: rotate(90deg);
		}

		&:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}
