.main-banner__figure-small {
	position: relative;
	display: flex;

	@media (min-width: $point1) {
		position: absolute;
		width: 20vw;
		top: 45vw;
		left: 2%;
	}

	@media (min-width: $point2) {
		top: 42vw;
	}

	.main-banner__decor {
		&::before {
			@include position-style(5%, 32%, 25vw, 25vw);
			z-index: 5;
			background: url("../../assets/decor/dots_bgr.svg") center/contain
				no-repeat;

			@media (min-width: $point1) {
				@include position-style(80%, 450%, 12vw, 12vw);
				background: url("../../assets/decor/circle_bg.png") center/contain
					no-repeat;
				opacity: 0.2;
			}
		}

		&::after {
			@include position-style(70%, 27%, 25vw, 25vw);
			z-index: -1;
			background: url("../../assets/decor/circle_bg.png") center/contain
				no-repeat;

			@media (min-width: $point1) {
				width: 12vw;
				height: 12vw;
				left: 55%;
			}
		}
	}

	.main-banner__img-small {
		align-self: baseline;
		width: 45%;
		padding-top: 4rem;

		@media (min-width: $point1) {
			width: 100%;
		}

		@media (min-width: $point2) {
		}
		&::after {
			@include position-style(35%, 90%, 25vw, 25vw);
			z-index: 5;
			background: url("../../assets/decor/circle_bg.png") center/contain
				no-repeat;
			opacity: 0.1;

			@media (min-width: $point1) {
				width: 15vw;
				height: 15vw;
				left: 320%;
			}
		}
	}
}
