.service__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;

    .service__title{
        max-width: 50%;
        @media (min-width: $point1) {
            max-width: 30%;;
         }
    }
}
