.collage {
	&__img {
		width: 90vw;
		height: 100vw;
		@media (min-width: $point1) {
			width: 40rem;
			height: 40rem;
		}
		@media (min-width: $point2) {
			width: 50rem;
			height: 50rem;
		}
		background: url("../../assets/collage/collage_lg.png") center/contain
			no-repeat;
	}
}
