.statistics-bar {
    flex-basis: 100%;
    
    &__container {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        @media (min-width: $point1) {
        flex-direction: row;
        }

        .statistics-bar__item {
            text-align: center;
            padding:3rem 0;
            .statistics-bar__item-num {
                font-size: 4.8rem;
                font-weight: bold;
    
                &__item-text {
                    font-size: 2rem;
                }
            }
        }
    }
}
