.projects__nav-slider{
    padding: 4rem 0;

    .swiper-wrapper{
        align-items: center;
		  
        .projects__nav-item{
            display: inline-block;
            text-decoration: none;
            font-size: 1.6rem;
				&:hover{
					color:$color1;
				}
        	}
    }
}
