.projects-slider {
	position: relative;
	padding-bottom: 7rem;

	@media (min-width: $point1) {
		display: none;
	}

	&__img {
		width: 100%;
	}

	.projects-slider__pagination {
		display: flex;
		gap: 1.5rem;
		justify-content: center;
	
		.swiper-pagination-bullet {
			width: 2rem;
			height: 2rem;
			font-size: 2rem;
			background-color: #fff;
			opacity: 1;
			&-active {
				background-color: $color1;
			}
		}
	}
}
