.main-button {
	background-color: $color1;
	color: $color2;
	outline: 1px solid $color1;
	font-size: 1.8rem;
	font-weight: 500;
	padding: 0.8em 2em;
	border-radius: 1.9em;
	transition: 0.2s;
	.main-button__icon {
		color: $color2;
	}

	&:hover {
		cursor: pointer;
		color: $color1;
		background-color: transparent;
		outline: 1px solid $color1;
		transition: 0.2s;

		.main-button__icon {
			color: $color1;
		}
	}

	&:active {
		background-color: $color1;
	}

	&__icon {
		color: $color2;
		font-size: 0.8em;
		padding-left: 0.5em;
	}

	&--baner {
		@media (min-width: $point1) {
			font-size: 1.8vw;
		}
	}
}

.main-button--white {
	background-color: transparent;
	color: #fff;
	outline: 1px solid #fff;
	.main-button__icon {
		color: #fff;
	}
	&:hover {
		outline-color: $color1;
		background-color: $color1;
		color: $color2;
		.main-button__icon {
			color: $color2;
		}
	}
}

@media (max-width: $point1) {
	.see-all-button{
		background-color: transparent;
		outline: none;
		padding: 0;
		.main-button__icon{
			display: none;
		}
		&:hover {
			color:$color1;
			background-color: transparent;
		}
	}
}


.scroll-button {
	display: none;
	@media (min-width: $point1) {
		display: inline;
		position: relative;
		background-color: transparent;
		font-size: 1.4rem;
		transform: rotate(-90deg);

		&::before {
			@include position-style(0.1em, -1.4em, 1.5rem, 1.5rem);
			z-index: -1;
			background: url("../../assets/icons/scroll.svg") center no-repeat;
			background-size: contain;
			transform: rotate(90deg);
		}

		&:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}

.blog-card__type-button{
	background-color: $color4;
	color:$color2;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.6em 1em;
	border-radius: 1.2em;
	&:hover{
		cursor: pointer;
		color:$color1;
	}
}
