@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "../variables/colors";
@import "../variables/stop-points";
@import "../mixins/position-style";
@import "../components/buttons";


html {
	font-size: 10px;
	font-family: inter;
    scroll-behavior: smooth;
}

* {
	color: #fff;
}

body {
	display: flex;
	flex-direction: column;
    background-color: $color5;

}
.footer {
    min-height: 20rem;
}



